/* Template css override*/
.section-gap{
    padding: 60px 0;
}

#header{
    font-family: 'Roboto', sans-serif !important;
}

footer{
    font-family: 'Roboto', sans-serif !important;
}

body{
    font-family: 'Roboto', sans-serif !important;
}
/* End of template css override*/

.footer-logo-responsive{
    height: 50px;
}

.bg-custom-dark-blue{
    background-color: #555891;
}

.bg-custom-yellow{
    background-color: #F5D74C;
}

.bg-custom-white{
    background-color: #FCFBFC;
}

.border-custom-dark-blue{
    border-color: #555891;
}

.border-custom-yellow{
    border-color: #F5D74C;
}

.text-custom-dark-blue{
    color: #555891 !important;
}

.text-custom-yellow{
    color: #F5D74C !important;
}

.text-custom-white{
    color: #FCFBFC !important;
}

.text-custom-gray{
    color: #2e3747;
}

.text-custom-light-gray{
    color: #ced3db;
}

.text-custom-black{
    color: #000;
}

.bw-2{
    border-width: 2px !important;
}

.text-custom-underline{
    border-bottom: 2px solid #2e3747;
}

.text-custom-roboto-light{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.font-weight-medium{
    font-weight: 500 !important;
}

.input-text-custom-style{
    border: 0;
    height:24px;
    width: 100px !important;
    margin-left:1px;
    box-shadow: -1px 10px 0px -7px #000, -1px 10px 0px -7px #000;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input-text-custom-style:focus{
    outline: none;
    box-shadow: -1px 10px 0px -7px #000, -1px 10px 0px -7px #000;
    background-color: inherit;
    color: #000;
    font-size: 24px;
}

.input-text-custom-style-final{
    width: 100%;
    border: 0;
    box-shadow: -1px 9px 0px -7px #555891, -6px 9px 0px -7px #555891;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input-text-custom-style-final:focus{
    outline: none;
    box-shadow: -1px 9px 0px -7px #555891, -6px 9px 0px -7px #555891;
    background-color: inherit;
    color: #000;
}

.position-custom-bottom-left{
    position: absolute;
    left: 0;
    bottom:0
}

.position-custom-bottom-right{
    position: absolute;
    right: 0;
    bottom:0
}

.rotated {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.bw-3{
    border-width: 3px !important;
}

.h-100px{
    height: 100px;
}

.h-300px{
    height: 300px;
}

.custom-mb-6{
    margin-bottom: 6rem;
}

.logo-responsive{
    height: 50px;
}

.height-home-banner-responsive{
    height:150px;
}

.width-home-image-responsive{
    width: 100%;
}

.width-home-button-responsive{
    width: 100%;
}

#section_tax_consultation{
    height: 350px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .custom-mb-6{
        margin-bottom: 0;
    }

    .height-home-banner-responsive{
        height:350px;
    }

    .width-home-image-responsive{
        width: initial;
    }

    .width-home-button-responsive{
        width: 50%;
    }

    #section_tax_consultation{
        height: 265px;
    }
}